@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto:wght@300&display=swap');

* {
    padding:0;
    margin:0;
    border:none;
}

body {
    font-family: Roboto;
    overflow: hidden;
}

#header-container {
    margin: 5px;
    height:90px;
}

#logo-container {
    height:100px;
    width:50%;
    float:left;
}

#logo {
    margin-top: 7px;
    text-align: right;
    float:right;
    font: size 400px;
    margin-right: 5%;
}

#navbar-container {
    width:50%;
    height:100px;
    float:right;
}

#nav-bar li {
    list-style-type: none;
    display:inline;
}

.nav-item {
    float: left;
    margin-right:1px;
    text-transform: uppercase;
    background-color:#379392;
    height:90px;
    width:90px;
    border-radius: 50%;
    text-align: center;
}

.nav-item h2 {
    font-size: smaller;
    color:white;
    border-radius: 3px;
    margin-top: 38px;
}
#page-container {
    width:100%;
}
#lefter {
    width:20%;
    height:400px;
    background-image: url(../images/leftsamurai.png);
    background-size: contain;
    background-repeat: no-repeat;
    float:left;
    margin-top: 20px;
}
#righter {
    width:20%;
    height:400px;
    background-image: url(../images/rightsamurai.png);
    background-size: contain;
    background-repeat: no-repeat;
    float:right;
    margin-top: 20px;

}
#centerer {
    margin:0 auto;
    width:60%;
    background-color: red;
    position:absolute;
    bottom:40px;
    top:100px;
    left:20%;
    right:20%;
    overflow-y:auto;
}

#content-area-header {
    color:white;
    text-align: center;
    background-color: #379392;
    border-radius: 5px;
}

#footer-container {
    width:100%;
    height:40px;
    background-color: blueviolet;
    position:absolute;
    bottom:0;
    text-align: center;
}
#footer-link-container {
    width:100%;
    height:20px;
    background-color: aqua;
}
#left-footer {
    float:left;
    width:40%;
    height:10px;
    background-color:cadetblue;
    text-align: right;
}

#right-footer {
    float:right;
    width:40%;
    height:10px;
    background-color:cadetblue;
    text-align: left;
}