@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto:wght@300&display=swap');

* {
    padding:0;
    margin:0;
    border:none;
}

body {
    font-family: Roboto;
    overflow-y: hidden;
}

#header-container {
    background-color:red;
    height:90px;
}

#logo {
    float:left;
    font: size 400px;
}

#navbar-container {
    background:white;
    float:right;
}

#nav-bar li {
    list-style-type: none;
    display:inline;
}

.nav-item {
    float: right;
    margin-right:1px;
    text-transform: uppercase;
    background-color:#379392;
    height:90px;
    width:90px;
    border-radius: 50%;
    text-align: center;
}

.nav-item h2 {
    font-size: smaller;
    color:white;
    border-radius: 3px;
    margin-top: 38px;
}
#page-container {
    width:100%;
    align-items: center;
}
#page-content-wrapper {
    width:800px;
    height:400px;
    background-color: aqua;
    margin: auto;
}
#lefter {
    width:32%;
    background-color: #379392;
    float:left;

}
#righter {
    width:32%;
    background-color: #379392;
    float:right;

}
#centerer {
    margin:0 auto;
    width:32%;
    background-color: red;
}