@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto:wght@300&display=swap');

* {
    padding:0;
    margin:0;
    border:none;
}

body {
    font-family: Roboto;
    background-image: url("../images/thegreatestbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

#logo {
    float:left;
    font: size 400px;
}

#nav-bar li {
    list-style-type: none;
}

.nav-item {
    float: right;
    margin-right:1px;
    text-transform: uppercase;
    background-color:#379392;
    height:90px;
    width:90px;
    border-radius: 50%;
    text-align: center;
}

.nav-item h2 {
    font-size: smaller;
    color:white;
    border-radius: 3px;
    margin-top: 38px;
}
#girl-with-sword {
    background-image: url("../images/girlwithsword.png");
    background-size: cover;
}